@model FamilyManagement.Models.DailyExpenseViewModel
@{
    ViewBag.Title = "MonthlyBudgetSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Home Page</title>
    <link href="~/Content/sidebar.css" rel="stylesheet" />
</head>
<body class="bg" background="~/Content/503132200.jpg" style="background-repeat: no-repeat;background-size: cover;">

    @*<body class="bg">*@
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        @*<a href="/Home/About">Main</a>*@
        <a href="/Categories/CategoryView">Category</a>
        <a href="/ItemCategories/ItemCategoryView">Item</a>
        <a href="/MonthlyBudgets/MonthlyBudgetView">Monthly Budget</a>
        <a href="/DailyExpenses/DailyExpenseView">Daily Expense</a>
        <a href="/DailyExpenses/MonthlyBudgetSearch">Monthly Budget Search</a>
        <a href="/DailyExpenses/ChartView">Chart</a>

    </div>

    <div id="main">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>

        <h2>Monthly Budget Search</h2>
        <br />
        <br />

        @using (Html.BeginForm("MonthlyBudgetSearch", "DailyExpenses"))
        {
            @*@Html.AntiForgeryToken()*@

            <div class="form-horizontal">
                <div class="form-group">
                    <h5 class="col-md-2 control-label"><b>Enter Month</b></h5>

                    @*@Html.LabelFor(model => model.BudgetMonth, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.BudgetMonth, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BudgetMonth, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Search" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
        @if (Model.budgetdetail != null)
        {
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CategoryName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BudgetMonth)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BudgetAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActualAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Difference)
                    </th>
                </tr>

                @foreach (var item in Model.budgetdetail)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categorys.CategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BudgetMonth)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BudgetAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActualAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Difference)
                        </td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td>
                        @Html.DisplayNameFor(model => model.TotalBudget)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.TotalBudget)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.TotalActual)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.TotalDifference)
                    </td>
                </tr>
            </table>
        }
    </div>
    <script type="text/javascript">
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }

    </script>


</body>
</html>
