@model FamilyManagement.Models.DailyChoreViewModel
@{
    ViewBag.Title = "SearchChore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Home Page</title>
    <link href="~/Content/sidebar.css" rel="stylesheet" />
</head>
<body class="bg" background="~/Content/503132200.jpg" style="background-repeat: no-repeat;background-size: cover;">

    @*<body class="bg">*@
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/Families/FamilyView">Family</a>
        <a href="/Chores/ChoreView">Chore</a>
        <a href="/DailyChores/DailyChoreView">Daily Chores</a>
        <a href="/DailyChores/SearchChore">Search</a>


    </div>

    <div id="main">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
        <h2>Search</h2>
        @using (Html.BeginForm("SearchChore", "DailyChores"))
        {
            @*@Html.AntiForgeryToken()*@

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="form-group">
                        @Html.LabelFor(model => model.ChoreDay, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ChoreDay, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ChoreDay, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Search" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

    </div>
    <script type="text/javascript">
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }

    </script>


</body>
</html>

