@model FamilyManagement.Models.MonthlyBudget

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MonthlyBudget</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categorys.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorys.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudgetMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudgetMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudgetAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudgetAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Difference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Difference)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
