@model IEnumerable<FamilyManagement.Models.MonthlyBudget>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categorys.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BudgetMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BudgetAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Difference)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categorys.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BudgetMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BudgetAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActualAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Difference)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
